@import models.pageviews.$className$ViewModel
@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(viewModel: $className$ViewModel)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(viewModel.form, messages("$className;format="decap"$.title"))) {

    @formHelper(action = routes.$className$Controller.onSubmit(viewModel.mode), Symbol("autoComplete") -> "off") {

        @if(viewModel.form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(viewModel.form))
        }

        <h1 class="govuk-heading-xl">@messages("$className;format="decap"$.heading")</h1>

        @govukInput(
            InputViewModel(
                field = viewModel.form("$field1Name$"),
                label = LabelViewModel(messages("$className;format="decap"$.$field1Name$"))
            )
            .withWidth(Full)
        )

        @govukInput(
            InputViewModel(
                field = viewModel.form("$field2Name$"),
                label = LabelViewModel(messages("$className;format="decap"$.$field2Name$"))
            )
            .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
