@import models.pageviews.$className$ViewModel
@import viewmodels.InputWidth.*

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(viewModel: $className$ViewModel)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(viewModel.form, messages("$className;format="decap"$.title"))) {

    @formHelper(action = routes.$className$Controller.onSubmit(viewModel.mode)) {

        @if(viewModel.form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(viewModel.form))
        }

        @govukInput(
            InputViewModel(
                field = viewModel.form("value"),
                label = LabelViewModel(messages("$className;format="decap"$.heading")).asPageHeading()
            )
            .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
