@import models.pageviews.$className$ViewModel

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukDateInput: GovukDateInput,
    govukButton: GovukButton
)

@(viewModel: $className$ViewModel)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(viewModel.form, messages("$className;format="decap"$.title"))) {

    @formHelper(action = routes.$className$Controller.onSubmit(viewModel.mode), Symbol("autoComplete") -> "off") {

        @if(viewModel.form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(viewModel.form, errorLinkOverrides = Map("value" -> "value.day")))
        }

        @govukDateInput(
            DateViewModel(
                field  = viewModel.form("value"),
                legend = LegendViewModel(messages("$className;format="decap"$.heading")).asPageHeading()
            )
            .withHint(HintViewModel(messages("$className;format="decap"$.hint")))
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
